<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class='container'>
  <%= simple_form_for @book do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :isbn %>
    <%= f.label 'Rating (1-5)' %>
    <%= f.number_field :rating %>
    <%= f.association :genres, as: :check_boxes %>
    <%= f.association :authors %>
    <%= f.button :submit, class: 'btn btn-secondary' %>
  <% end %>
</div>

