<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class='container' style="background-color: pink;">
  <%= simple_form_for @book do |f| %>
    <%= f.input :description %>
    <%= f.input :isbn %>
    <%= f.label 'Rating (1-5)' %>
    <%= f.range_field :rating, in: 1..5 %>
    <%= f.association :genres, as: :check_boxes %>
    <%= f.association :authors %>
    <%= f.button :submit, class: 'btn btn-secondary' %>
  <% end %>
</div>

