<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <% if user_signed_in? %>
    <a class="navbar-brand" href="#">Signed In</a>
  <% else %> 
    <a class="navbar-brand" href="#">Signed Out</a>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path %>
      </li>
    </ul>
    <% if user_signed_in? %>
      <ul>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link float-right' %>
      </ul>
      <ul>
        <%= link_to 'Add Book', new_books_path, class: 'btn btn-secondary float-right' %>
      </ul>
    <% else %>
      <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
      <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
    <% end %>
  </div>
</nav>
